:root{
    --l-blue:hsl(200,50%,50%);
    --tl-dark-theme:hsl(215,27.5%,15.7%);
}
.chat{
    /* height:100vh; */
    position:relative;
    min-height: 100%;
    background:var(--tl-dark-theme);
    /* position:absolute; */
    top:0;
    left:0;
    z-index:0;
}
.new{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--l-blue);
    position:sticky;
    bottom:10px;
    top:calc(100% - 60px);
    left:98%;
    right:10vw;
}
.pencil{
    width:5px;
    height:35px;
    background:linear-gradient(to bottom,white 20%,var(--l-blue) 20%,var(--l-blue) 30%,white 30%);
   position:absolute;
   left:50%;
   top:50%;
   transform:translate(-50%,-50%) rotate(30deg);
border-radius:2px;
   clip-path:polygon(0 0,0 80%,50% 100%,100% 80%,100% 0);
    }
    .pencilAnime{
      animation:rotate 2s;
      }
      
 .newBox{
    
     position:absolute;
     top:-420%;
     left:-300%;
     width:0;
     height:0;
     display:none;
     color:white;
     background:var(--tl-dark-theme);
     border-radius:10px;
     box-shadow: 2px 2px 6px rgb(0,0,0), -1px -1px 6px rgba(200,200,200,0.6);
     
 }
 .newBoxAnime{
    animation:enlarge 1s forwards;
    display:flex;
    align-content:flex-start;
    flex-flow:row wrap;
 }
 .createNew{
     border:none;
     color:white;
     background:transparent;
     width:100%;
     height:calc((150 / 4) * 1px);
     border-radius:10px;
 }
 .createNew:hover{
     background:hsl(215,27.5%,10.7%);
 }
   @keyframes rotate{
       to{
         transform:translate(-50%,-50%) rotate(calc(720deg + 30deg));
         }
         }
         @keyframes enlarge {
            
             to{
             
             width:150px;
             height:150px;
            
             }
         }